/*General*/
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  -webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.main-header .sidebar-toggle {
  -webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-ms-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
 }

 .skin-blue .main-header .navbar .nav > li > a:hover,
 .skin-blue .main-header .navbar .nav > li > a:active,
 .skin-blue .main-header .navbar .nav > li > a:focus,
 .skin-blue .main-header .navbar .nav .open > a,
 .skin-blue .main-header .navbar .nav .open > a:hover,
 .skin-blue .main-header .navbar .nav .open > a:focus,
 .skin-blue .main-header .navbar .nav > .active > a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
 }

.skin-blue .main-header .navbar .nav > li > a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
}

.content-wrapper,
.right-side,
.main-footer {
  margin-left: 245px;
}

.main-sidebar,
.left-side {
  width: 245px;
}

.main-header > .navbar {
  margin-left: 245px;
}

.main-header .logo {
  width: 245px;
}

@media (max-width: 767px) {
  .main-header .logo {
    width: 100%;
  }

  .content-wrapper, .right-side,
  .main-footer {
    margin-left: 0;
  }

  .main-header > .navbar {
    margin-left: 0;
  }

  .main-sidebar, .left-side {
    width: auto;
  }

  .main-sidebar,
  .left-side {
    width: 245px;
  }
}

@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    width: 230px;
  }

  .sidebar-menu li > a > .pull-right {
    right: 5px;
  }
}

/**

  skin-custom1

**/
.skin-custom1 .nav > li > a:hover,
.skin-custom1 .nav > li > a:active,
.skin-custom1 .nav > li > a:focus {
    background: #d73925 none repeat scroll 0 0;
    color: #444;
}

.skin-custom1 .nav .open > a,
.skin-custom1 .nav .open > a:focus,
.skin-custom1 .nav .open > a:hover {
    background-color: #d73925;
    border-color: #337ab7;
}

.skin-custom1 .sidebar-menu > li:hover > a,
.skin-custom1 .sidebar-menu > li.active > a {
  color: #000000;
  background: #CCAEAB;
}

.skin-custom1 .content-header > .breadcrumb > li > a:hover {
  color: #CCAEAB;
}

.skin-custom1  .box.box-primary {
    border-top-color: #CCAEAB;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.skin-custom1 a.hand {
  cursor: pointer;
  display: block;
  padding: 6px 8px;
  color: #666;
}

.skin-custom1 a.hand:hover {
  color: #CCAEAB;
}

.skin-custom1 .config:hover {
  background: #CCAEAB;
}

.skin-custom1 .config.active,
.skin-custom1 .config:active,
.skin-custom1 .open > .dropdown-toggle.config {
 background: #CCAEAB;
}

.skin-custom1 .pagination > .active > a,
.skin-custom1 .pagination > .active > a:focus,
.skin-custom1 .pagination > .active > a:hover,
.skin-custom1 .pagination > .active > span,
.skin-custom1 .pagination > .active > span:focus,
.skin-custom1 .pagination > .active > span:hover {
  background-color: #ccaeab;
  border-color: #ccaeab;
}

.skin-custom1 #example1 tr:hover {
  background: #F7E2E1;
  pointer: default;
}

table.dataTable thead > tr > th {
  white-space: nowrap;
}

.skin-custom1 .cd-top {
  background: rgba(232, 98, 86, 0.8) url("../img/cd-top-arrow.svg") no-repeat scroll center 50%;
}

/** blue-skin **/

.skin-blue .cd-top {
  background: rgba(60, 141, 188, 0.8) url("../plugins/back-to-top/img/cd-top-arrow.svg") no-repeat scroll center 50%;
}

.skin-blue .export-box {
  left: 170px;
  position: absolute;
  top: 8px;
  z-index: 99;
}

.skin-blue .export-btn {


  color: #3c8dbc;
  background: transparent;
  border: 1px solid #3c8dbc;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skin-blue .export-btn:hover,
.skin-blue .export-btn:active,
.skin-blue .export-btn.hover {
  background-color: #367fa9;
  border-color: #204d74;
  color: #fff;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skin-blue .table tbody tr:hover {
  background-color: rgba(60, 141, 188, 0.2);
}

@media (max-width: 767px) {
  .skin-blue .export-box {
    position: static;
    margin: auto;
    width: 115px;
    margin-top: 10px;
  }
}

/** yellow-skin **/

.skin-yellow .cd-top {
  background: rgba(186, 177, 59, 0.8) url("../plugins/back-to-top/img/cd-top-arrow.svg") no-repeat scroll center 50%;
}

.skin-yellow .export-box {
  left: 170px;
  position: absolute;
  top: 8px;
  z-index: 99;
}

.skin-yellow .export-btn {


  color: #BAB53B;
  background: transparent;
  border: 1px solid #BAB53B;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skin-yellow .export-btn:hover,
.skin-yellow .export-btn:active,
.skin-yellow .export-btn.hover {
  background-color: #EFDF2F;
  border-color: #726D20;
  color: #666;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skin-yellow .table tbody tr:hover {
  background-color: rgba(186, 177, 59, 0.2);
}

@media (max-width: 767px) {
  .skin-yellow .export-box {
    position: static;
    margin: auto;
    width: 115px;
    margin-top: 10px;
  }
}

.skin-blue .main-header .logo {
  background-color: #7abcff;
}

.skin-blue .main-header .navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+2,1f81ba+100 */
  background: #7abcff; /* Old browsers */
  background: -moz-linear-gradient(left,  #7abcff 0%, #60abf8 2%, #1f81ba 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #7abcff 0%,#60abf8 2%,#1f81ba 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #7abcff 0%,#60abf8 2%,#1f81ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#1f81ba',GradientType=1 ); /* IE6-9 */
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #1f81ba;
}

.skin-blue .main-header .logo:hover {
  background-color: #7abcff;
}

.sidebar-menu li,
.sidebar-menu > li.header {
  font-size: 16px;
}

.sidebar-menu li i {
  font-size: 23px;
  margin-right: 8px;
  margin-left: -5px;
}

.modal-content {
  border-radius: 3px;
}

.box-table {
  position: relative;
}

.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 0px;
}

.last-active i {
  font-size: 12px;
}

.last-active .box-body {
  /* padding-top: 2px; */
  font-size: 13px;
}

.activeStage {
    -webkit-box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.60);
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.60);
}

.info-box:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 2px rgba(4,0,255,0.9);
  box-shadow: 0 0 3px 2px rgba(4,0,255,0.9);

  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.skin-blue .export-box-2 {
  left: 280px;
  position: absolute;
  top: 8px;
  z-index: 99;
}

.skin-blue .export-box {
  width: 105px;
}
